body{
    margin: 0;
    padding: 0;
    background-color: FEFAE0;
}
.navigation{
    list-style-type: none;
    float: right;
}
.navigation li{
    display: inline-block;
    font-size: 125%;
    margin-right: 20px;
    margin-top: 20px;
}
.navigation li a{
    text-decoration: none;
    color: #fefae0;
}
.navigation li a:hover{
    color: #dda15e;
}
.navigation li a:active{
    color: #bc6c25;
}
nav{
    width: 100%;
    height: 100px;
    background-color: 606C38;
    position: sticky;
    top: 0;
}
.logo img{
    height: 91px;
    width: 150px;
    float: left;
    margin: 4px;
}
img.rounded-corners{
    border-radius: 30px;
}
.Form-Page{
    height: 750px;
    margin-left: 20%;
    margin-right: 20%;
}
.electric{
    float: left;
    margin-right: 25px;
}
.electric-subheader{
    padding-top: 75px;
    font-size: 25px;
    text-align: center;
}
.acoustic{
    float: right;
    margin-top: 165px;
    margin-left: 25px;
}
.acoustic-subheader{
    padding-top: 250px;
    font-size: 25px;
    text-align: center;
}
.instructors{
    height: 1650px;
    margin-left: 20%;
    margin-right: 20%;
}
.instructors h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: 80px;

}
hr{
    border: 2px solid black;
}
.Jimmy{
    width: 420px;
    height: 300px;
    float: left;
}
.Jimmy-Subheading{
    margin-left: 25px;
    text-align: center;
    font-size: 25px;
    padding-top: 60px;
}
.Ozzy{
    float: right;
    width: 420px;
    height: 300px;
    margin-top: 200px;
}
.Ozzy-Subheading{
    font-size: 25px;
    text-align: center;
    margin-top: 250px;
}
.Group-Instructors{
    width: 100%;
    height: 600px;
    margin-top: 30px;
}
.Group-Instructors-Subheading{
    font-size: 25px;
    text-align: center;
}
footer{
    height: 200px;
    width: 100%;
    background-color: #606C38;
    padding-top: 50px;

}
.footer-links li{
    list-style-type: none;
    float: left;
    clear: both;
    margin-left: 100px;
    text-align: center;
    margin-top: 5px;
}
.Logo-links li{
    list-style-type: none;
    margin-left: 86%;
    margin-right: 100px;
    size: 6px;
    text-align: center;
    margin-top: 5px;
}
.main-footer{
    font-size: 20px;
    font-weight: 900;
}
.abovefooter{
    margin-bottom: 0px;
}
footer a{
    text-decoration: none;
    color: #fefae0;
}
footer a:hover{
    color: #dda15e;
}
footer a:active{
    color: #bc6c25;
}
footer p{
    text-align: center;
}   

